<!DOCTYPE html>
<html>
<head>
    <script src="https://adminlte.io/themes/v3/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://adminlte.io/themes/v3/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Services/Board/BoardService.js"></script>
    <meta charset="utf-8" />
    <title></title>

   
</head>
<body>

    <script type="text/javascript">
    $(document).ready(function () {
     

      var Board=  BoardService.BoardGetByBoardId(1);


         
    });

    //var Card = {

    //}

    //CardService.CardSave();
    </script>

</body>
</html>