<div class="card">
    <div class="card-header">
        <h3 class="card-title">Bordered Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Board Name</th>
                    <th>Description</th>                   
                </tr>
            </thead>
            <tbody>
                {{#each boards}}
                <tr>
                    <td><button type="button" class="btn btn-primary" id="BoardEdit_{{boardId}}" BoardId="{{boardId}}">Güncelle</button></td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>                  
                </tr>
                {{/each}}           
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>